.fa-arrow-circle-right {
  color: white;
}

.huge {
  font-size: 40px;
}

.blue {
  background-color: #003975d6 !important;
}

.yellow {
  background-color: #f3b600;
}

.green {
  background-color: #11822beb;
}

.red {
  background-color: #c30114cf;
}
