<div [@routerTransition]>
  <div class="row">
    <div class="col-xl-3 col-lg-6">
      <app-stat
        [bgClass]="'primary blue'"
        [icon]="'fa-university'"
        [count]="26"
        [label]="'Organizations'"
        [link]="'admin/organizations/edit'"
      ></app-stat>
    </div>
    <div class="col-xl-3 col-lg-6">
      <app-stat
        [bgClass]="'warning yellow'"
        [icon]="'fa-users'"
        [count]="240"
        [label]="'Volunteers'"
        [link]="'admin/volunteers/edit'"
      ></app-stat>
    </div>
    <div class="col-xl-3 col-lg-6">
      <app-stat
        [bgClass]="'success green'"
        [icon]="'fa-calendar'"
        [count]="35"
        [label]="'Past Events'"
        [link]="'admin/events/edit'"
      ></app-stat>
    </div>
    <div class="col-xl-3 col-lg-6">
      <app-stat
        [bgClass]="'danger red'"
        [icon]="'fa-support'"
        [count]="5"
        [label]="'Underrates'"
        [link]="'admin/organizations/edit'"
      ></app-stat>
    </div>
  </div>
  <hr />
</div>
