<header id="header" id="home">
    <div class="container main-menu">
      <div class="row align-items-center justify-content-between d-flex">
        <!-- <div id="logo">
          <a href="index.html"><img class="logo" src="assets/img/logo.png"></a>
        </div> -->
        <!-- <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active"><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Service</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li class="menu-has-children"><a href="">Blog</a></li>						          
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>#nav-menu-container		    		 -->
      </div>
    </div>
  </header><!-- #header -->

<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-center">
      <div class="banner-content col-lg-12 col-md-12">
        <h1>
          iVolunteer		
        </h1>
        <h6 class="text-uppercase">You make a living by what you get. You make a life by what you give.</h6>
        <p></p><br>
        <a href="#" class="primary-btn header-btn text-uppercase" style="width:150px" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLink]="['/signup']">Sign Up </a>
        <a href="#" style="margin-left:25px; width:150px" class="primary-btn header-btn text-uppercase" [routerLink]="['/login']">Log In</a>
      </div>												
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start cat Area -->
<section class="cat-area section-gap" id="feature">
  <div class="container">							
    <div class="row">
      <div class="col-lg-4">	
        <div class="single-cat d-flex flex-column">
          <a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-magic-wand"></span></span></a>
          <h4 class="mb-20" style="margin-top: 23px;">Get to Know</h4>
          <p>
            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why.
          </p>
        </div>															
      </div>
      <div class="col-lg-4">	
        <div class="single-cat">
          <a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-rocket"></span></span></a>
          <h4 class="mt-40 mb-20">Join Them</h4>
          <p>
            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why.
          </p>
        </div>															
      </div>
      <div class="col-lg-4">
        <div class="single-cat">
          <a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-bug"></span></span></a>
          <h4 class="mt-40 mb-20">Greater Network</h4>
          <p>
            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why.
          </p>
        </div>							
      </div>
    </div>
  </div>	
</section>
<!-- End cat Area -->


<!-- Start home-about Area -->
<section class="home-about-area section-gap" id="about">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8 col-md-12 home-about-left">
        <h6>Crowd sourcing made easier</h6>
        <h1>
          We’ve made a life <br>
          that will change you
        </h1>
        <p class="sub">We are here to listen from you deliver exellence</p>
        <p class="pb-20">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
        </p>
        <a class="primary-btn" href="#">Get Started Now</a>
      </div>
      <div class="col-lg-4 col-md-12 home-about-right relative">
        <form class="form-wrap" action="#">
          <h4 class="text-white pb-20">Representing an Organization?</h4>								
          <input type="text" class="form-control" placeholder="name">
          <input type="phone" class="form-control" placeholder="Phone Number">
          <input type="email" class="form-control" placeholder="Email Address">
          <textarea name="message" id="" cols="30" rows="5" placeholder="Message" class="form-control"></textarea>
          <button class="primary-btn">Request an Adminship</button>
        </form>
      </div>
    </div>
  </div>	
</section>
<!-- End home-about Area -->
    

<!-- Start service Area -->
<section class="service-area section-gap" id="service">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 pb-30 header-text text-center">
        <h1 class="mb-10">Our Mega Clients</h1>
        <p>
          Who are in extremely love with eco friendly system..
        </p>
      </div>
    </div>						
    <div class="row">
      <div class="col-lg-4">
        <div class="single-service">
          <div class="thumb" style="height:300px">
            <img style="height:90%; width:85%; margin:auto;display: block;" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5b/Lions_Clubs_International_logo.svg/327px-Lions_Clubs_International_logo.svg.png" alt="">									
          </div>
          <h4>Lions Club</h4>
          <p>
            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-service">
          <div class="thumb" style="height:300px">
            <img src="assets/img/s2.jpg" style="height:90%; width:85%; margin:auto;display: block;" alt="">
          </div>
          <h4>Rotaract Club CC</h4>
          <p>
            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-service">
          <div class="thumb" style="height:300px">
            <img style="height:95%; width:85%; margin:auto;display: block;" src="https://applets.imgix.net/https%3A%2F%2Fassets.ifttt.com%2Fimages%2Fchannels%2F703096546%2Ficons%2Fon_color_large.png%3Fversion%3D0?ixlib=rails-2.1.3&w=240&h=240&auto=compress&s=6f10d2c9a98b5d26b669b04335bc2045" alt="">									
          </div>
          <h4>Aiesec Sri Lanka</h4>
          <p>
            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
          </p>
        </div>
      </div>												
    </div>
  </div>	
</section>
<!-- End service Area -->


<!-- Start faq Area -->
<section class="faq-area section-gap relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-3 col-md-6">
        <div class="single-faq">
          <div class="circle">
            <div class="inner"></div>
          </div>
          <h5><span class="counter">50 </span>+</h5>
          <p>
            Projects Completed
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-faq">
          <div class="circle">
            <div class="inner"></div>
          </div>
          <h5><span class="counter">200</span>+</h5>
          <p>
            Total Volunteers
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-faq">
          <div class="circle">
            <div class="inner"></div>
          </div>
          <h5 class="counter">25 +</h5>
          <p>
            Organizations
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-faq">
          <div class="circle">
            <div class="inner"></div>
          </div>
          <h5 class="counter">367</h5>
          <p>
            Tickets
          </p>
        </div>
      </div>																		
    </div>
  </div>	
</section>
<!-- End faq Area -->


<!-- Start project Area -->
<section class="project-area section-gap" id="project">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 pb-30 header-text text-center">
        <h1 class="mb-10">Latest Projects</h1>
        <p>
          Who are in extremely love with eco friendly system..
        </p>
      </div>
    </div>						
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <a href="assets/p1.jpg" class="img-gal">
          <img class="img-fluid single-project" style="height:350px; object-fit: cover;" src="http://www.khayavolunteer.com/images/blog/happy-volunteers1.jpg" alt="">
        </a>	
      </div>
      <div class="col-lg-4 col-md-4">
        <a href="assets/p2.jpg" class="img-gal">
          <img class="img-fluid single-project" src="https://www.volunteeringkingston.org.uk/wp-content/uploads/2018/03/volunteering-kingston_567x567_acf_cropped.jpg" alt="">
        </a>	
      </div>						
      <div class="col-lg-6 col-md-6">
        <a href="assets/p3.jpg" class="img-gal">
          <img class="img-fluid single-project" style="height:290px; object-fit: cover;" src="http://www.pyxisusa.com/ztpvault/40.jpg" alt="">
        </a>	
      </div>
      <div class="col-lg-6 col-md-6">
        <a href="assets/p4.jpg" class="img-gal">
          <img class="img-fluid single-project" src="http://www.valonline.org.uk/sites/www.valonline.org.uk/files/styles/panopoly_image_full/public/general/vol-image.jpg?itok=VEQdDAny" alt="">
        </a>	
      </div>		
    </div>
  </div>	
</section>
<!-- End project Area -->
    
<!-- Start blog Area -->
<section class="blog-area section-gap home-about-area" id="blog">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 pb-30 header-text">
        <h1>Latest posts from our Blog</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> labore  et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="row">	
      <div class="single-blog col-lg-4 col-md-4">
        <div class="thumb">
          <img class="f-img img-fluid mx-auto" src="assets/img/b1.jpg" alt="">	
        </div>
        <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
          <div>
            <img class="img-fluid" src="assets/img/user.png" alt="">
            <a href="#"><span>Mark Wiens</span></a>
          </div>
          <div class="meta">
            13th Dec
            <span class="lnr lnr-heart"></span> 15
            <span class="lnr lnr-bubble"></span> 04
          </div>
        </div>							
        <a href="#">
          <h4>Beach Cleaning Project</h4>
        </a>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea.
        </p>
      </div>
      <div class="single-blog col-lg-4 col-md-4">
        <div class="thumb">
          <img class="f-img img-fluid mx-auto" src="assets/img/b2.jpg" alt="">	
        </div>
        <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
          <div>
            <img class="img-fluid" src="assets/img/user.png" alt="">
            <a href="#"><span>Mark Wiens</span></a>
          </div>
          <div class="meta">
            13th Dec
            <span class="lnr lnr-heart"></span> 15
            <span class="lnr lnr-bubble"></span> 04
          </div>
        </div>							
        <a href="#">
          <h4>Tree Planting Project</h4>
        </a>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea.
        </p>
      </div>
      <div class="single-blog col-lg-4 col-md-4">
        <div class="thumb">
          <img class="f-img img-fluid mx-auto" src="assets/img/b3.jpg" alt="">	
        </div>
        <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
          <div>
            <img class="img-fluid" src="assets/img/user.png" alt="">
            <a href="#"><span>Mark Wiens</span></a>
          </div>
          <div class="meta">
            13th Dec
            <span class="lnr lnr-heart"></span> 15
            <span class="lnr lnr-bubble"></span> 04
          </div>
        </div>							
        <a href="#">
          <h4>Tutoring Underprivileged Students</h4>
        </a>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea.
        </p>
      </div>												
                
                  
    </div>
  </div>	
</section>
<!-- end blog Area -->	
  
<!-- start footer Area -->		
<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>About Us</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
          </p>
          <p class="footer-text">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>								
        </div>
      </div>
      <div class="col-lg-5  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>Newsletter</h6>
          <p>Stay update with our latest</p>
          <div class="" id="mc_embed_signup">
            <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
              <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                              <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                              <div style="position: absolute; left: -5000px;">
                  <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                </div>

              <div class="info"></div>
            </form>
          </div>
        </div>
      </div>						
      <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
        <div class="single-footer-widget">
          <h6>Follow Us</h6>
          <p>Let us be social</p>
          <div class="footer-social d-flex align-items-center">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
          </div>
        </div>
      </div>							
    </div>
  </div>
</footer>	
<!-- End footer Area -->	

