<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: white !important">
    <img class="navbar-brand logo" src="assets/img/logo.png" />
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="#client">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
        <button class="btn my-2 my-sm-0 navButtons" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLink]="['/signup']" [routerLinkActiveOptions]="{ exact: true }">
      Sign Up
    </button>
        <button class="btn my-2 my-sm-0 navButtons" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLink]="['/login']" [routerLinkActiveOptions]="{ exact: true }">
      Log In
    </button>
    </div>
</nav>

<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-12 col-md-12" style="margin-top:150px">
                <h1>
                    iVolunteer
                </h1>
                <h6 class="text-uppercase">
                    You make a living by what you get. You make a life by what you give.
                </h6>
                <p></p>
                <br />
                <a href="#" class="primary-btn header-btn text-uppercase" style="width:150px;border-radius: 10px" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLink]="['/signup']" [routerLinkActiveOptions]="{ exact: true }">Sign Up
        </a>
                <a href="#" style="margin-left:25px; width:150px; border-radius: 10px" class="primary-btn header-btn text-uppercase" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLink]="['/login']" [routerLinkActiveOptions]="{ exact: true }">Log In</a
        >
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->


<!-- End cat Area -->

<!-- Start home-about Area -->
<section class="home-about-area section-gap" id="about">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 col-md-12 home-about-left">
                <h6>Crowd sourcing made easier</h6>
                <h1>
                    We’ve made a life <br /> that will change you
                </h1>
                <p class="sub">We are here to listen from you deliver exellence</p>
                <p class="pb-20">
                        Volunteering is generally considered an altruistic activity where an individual or group provides services for no financial or 
                        social gain to benefit another person, group or organization".Volunteering is also renowned for skill development and is often 
                        intended to promote goodness or to improve human quality of life. Volunteering may have positive benefits for the volunteer as well as 
                        for the person or community served. It is also intended to make contacts for possible employment. Many volunteers are specifically tr
                        ained in the areas they work, such as medicine, education, or emergency rescue. Others serve on an as-needed basis, 
                        such as in response to a natural disaster.
                </p>
                <a class="primary-btn" href="#">Get Started Now</a>
            </div>
            <div class="col-lg-4 col-md-12 home-about-right relative">
                <form (submit)="addMessage()" class="form-wrap">
                    <h4 class="text-white pb-20">Representing an Organization?</h4>
                    <input type="text" [(ngModel)]="name" class="form-control" name="name" class="form-control" placeholder="name" />
                    <input type="phone" [(ngModel)]="phone" class="form-control" name="phone" class="form-control" placeholder="Phone Number" />
                    <input type="email" [(ngModel)]="email" class="form-control" name="email" class="form-control" placeholder="Email Address" />
                    <input type="email" [(ngModel)]="organization" class="form-control" name="organization" class="form-control" placeholder="Organization Name" />
                    <textarea name="message" [(ngModel)]="message" name="message" cols="30" rows="5" placeholder="Message" class="form-control"></textarea>
                    <input class="primary-btn" type="submit" value="Request an Adminship" />
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End home-about Area -->

<!-- Start service Area -->
<section class="service-area section-gap" id="service">
    <div class="container">
        <a id="client"></a>
        <div class="row justify-content-center">
            <div class="col-md-12 pb-30 header-text text-center">
                <h1 class="mb-10">Our Organizations</h1>
                <p>
                    Who are in extremely love with eco friendly system..
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row">

                <div class="col-md-4" *ngFor="let organization of organizations">
                    <div class="card">
                        <div class="thumb" style="height:300px">
                            <img style="height:80%; width:80%; margin:auto;display: block;" src="../../../../assets/images/organizations/{{ organization.id }}.png" alt="" />
                        </div>
                        <h4>{{organization.name}}</h4>
                        <p>{{organization.about}}</p>

                    </div>
                    <br>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End service Area -->

<!-- Start faq Area -->

<!-- Start project Area -->


<!-- start footer Area -->
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About Us</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                    </p>
                    <p class="footer-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        All rights reserved | This template is made with
                        <i class="fa fa-heart-o" aria-hidden="true"></i> by
                        <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6 social-widget">



                <h6>Follow Us</h6>
                <h6> Email us: iVolunteer@gmail.com</h6>
                <p>Let us be social</p>
                <div class="footer-social d-flex align-items-center">
                    <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
                    <a href="www.twitter.com"><i class="fa fa-twitter"></i></a>
                    <i class="fa-fa-gplus"></i>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->