<div class="card mb-3">
  <div class="card-header">Available Events</div>
  <div class="card-body table-responsive">
      <table class="table table-hover table-striped">
          <thead>
          <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Date</th>
              <th>Attendees</th>
              <th>Rating</th>
              <th>Image</th>
              <th>Organization</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td>event 1</td>
              <td>About something</td>
              <td>2019-04-25</td>
              <td>50%</td>
              <td>Good</td>
              <td>click url</td>
              <td>Exploration club</td>
          </tr>
          <tr>
            <td>event 2</td>
            <td>About something</td>
            <td>2019-04-25</td>
            <td>50%</td>
            <td>Good</td>
            <td>click url</td>
            <td>Exploration club</td>
        </tr>
        <tr>
          <td>event 3</td>
          <td>About something</td>
          <td>2019-04-25</td>
          <td>50%</td>
          <td>Good</td>
          <td>click url</td>
          <td>Exploration club</td>
      </tr>
      <tr>
        <td>event 1</td>
        <td>About something</td>
        <td>2019-04-25</td>
        <td>50%</td>
        <td>Good</td>
        <td>click url</td>
        <td>Exploration club</td>
    </tr>
    <tr>
      <td>event 1</td>
      <td>About something</td>
      <td>2019-04-25</td>
      <td>50%</td>
      <td>Good</td>
      <td>click url</td>
      <td>Exploration club</td>
  </tr>
  <tr>
    <td>event 1</td>
    <td>About something</td>
    <td>2019-04-25</td>
    <td>50%</td>
    <td>Good</td>
    <td>click url</td>
    <td>Exploration club</td>
</tr>
          <!-- <tr>
              <td>/about.html</td>
              <td>261</td>
              <td>33.3%</td>
              <td>$234.12</td>
          </tr>
          <tr>
              <td>/sales.html</td>
              <td>665</td>
              <td>21.3%</td>
              <td>$16.34</td>
          </tr>
          <tr>
              <td>/blog.html</td>
              <td>9516</td>
              <td>89.3%</td>
              <td>$1644.43</td>
          </tr>
          <tr>
              <td>/404.html</td>
              <td>23</td>
              <td>34.3%</td>
              <td>$23.52</td>
          </tr>
          <tr>
              <td>/services.html</td>
              <td>421</td>
              <td>60.3%</td>
              <td>$724.32</td>
          </tr>
          <tr>
              <td>/blog/post.html</td>
              <td>1233</td>
              <td>93.2%</td>
              <td>$126.34</td>
          </tr> -->
          </tbody>
      </table>
  </div>
</div>