<nav
  class="sidebar"
  [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }"
>
  <div class="list-group">
    <a
      routerLink="/admin/dashboard"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;
      <span>{{ "Dashboard" | translate }}</span>
    </a>
    <br />
    <div class="nested-menu">
      <a class="list-group-item">
        <i class="fa fa-university"></i>&nbsp;
        <span>{{ "Organizations" | translate }}</span>
      </a>
      <li class="nested" [class.expand]="true">
        <ul class="submenu">
          <li>
            <a
              routerLink="/admin/organizations/add"
              [routerLinkActive]="['router-link-active']"
            >
              <i class="fa fa-plus"></i>&nbsp;
              <span>{{ "Add New" | translate }}</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/admin/organizations/edit"
              [routerLinkActive]="['router-link-active']"
            >
              <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;
              <span>{{ "View and Edit" | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
    <div class="nested-menu">
      <a class="list-group-item">
        <i class="fa fa-users"></i>&nbsp;
        <span>{{ "Volunteers" | translate }}</span>
      </a>
      <li class="nested" [class.expand]="true">
        <ul class="submenu">
          <li>
            <a
              routerLink="/admin/volunteers/edit"
              [routerLinkActive]="['router-link-active']"
            >
              <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;
              <span>{{ "View and Edit" | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
    <div class="nested-menu">
      <a class="list-group-item">
        <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
        <span>{{ "Events" | translate }}</span>
      </a>
      <li class="nested" [class.expand]="true">
        <ul class="submenu">
          <li>
            <a
              routerLink="/admin/events/edit"
              [routerLinkActive]="['router-link-active']"
            >
              <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;
              <span>{{ "View and Edit" | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
    <!-- <a
      [routerLink]="['/admin/charts']"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
      <span>{{ "Charts" | translate }}</span>
    </a>
    <a
      [routerLink]="['/admin/tables']"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-fw fa-table"></i>&nbsp;
      <span>{{ "Tables" | translate }}</span>
    </a>
    <a
      [routerLink]="['/admin/forms']"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-fw fa-edit"></i>&nbsp;
      <span>{{ "Forms" | translate }}</span>
    </a>
    <a
      [routerLink]="['/admin/bs-element']"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-fw fa-desktop"></i>&nbsp;
      <span>{{ "Bootstrap Element" | translate }}</span>
    </a>
    <a
      [routerLink]="['/admin/grid']"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-fw fa-wrench"></i>&nbsp;
      <span>{{ "Bootstrap Grid" | translate }}</span>
    </a>
    <a
      [routerLink]="['/admin/components']"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-th-list"></i>&nbsp;
      <span>{{ "Component" | translate }}</span>
    </a> -->
  </div>
  <div
    class="toggle-button"
    [ngClass]="{ collapsed: collapsed }"
    (click)="toggleCollapsed()"
  >
    <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i
    >&nbsp;
    <span>{{ "Collapse Sidebar" | translate }}</span>
  </div>
</nav>
