h1{
    margin-left: 10px;
    text-align: left;
    width: 100%;
}

.row{
    margin:10px;
}

.form-row{
    margin: 10px;
}
.was-validated{
    width: 100%;
}

#imagepreview{
    margin-left:20px;
}